# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Django stuff:
db.sqlite3
*.log
media/
staticfiles/

# IDE / Editor settings
.vscode/
.idea/
*.iml
